<%= form_for([@user, @user.user_files.build]) do |f| %>
    <p>
        <%= f.label :name %><br>
        <%= f.text_field :name %>
    </p>
    <p>
        <%= f.label :comment %><br>
        <%= f.text_area :comment %>
    </p>
    <p>
        <%= f.label :data %><br>
        <%= f.text_area :data %>
    </p>
    <p>
        <%= f.submit %>
    </p>
<% end %>
