<h1>User</h1>
<%= link_to 'Edit', edit_user_path(@user) %>
<%= link_to "Back", :back %>
<p>
    <strong>Name:</strong>
    <%= @user.name %>
    <br>
    <strong>E-mail:</strong>
    <%= @user.email %>
    <br>
    <strong>Password:</strong>
    <%= @user.password %>
</p>

<h2>Files</h2>
<%= render @user.user_files %>
